<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css" th:href="style.css">
    <title>Warehouse</title>
</head>
<body>
<table class="shoppingCartTable">
    <tr class="shoppingCartTableRow">
        <th>product_id</th>
        <th>amount</th>
        <th>changed value</th>
    </tr>
    <tr th:each="warehouseProduct : ${warehouseProducts}" class="shoppingCartTableRow">
        <td th:text="${warehouseProduct.productId}"></td>
        <td th:text="${warehouseProduct.quantity}"></td>
        <td><input th:id = "${warehouseProduct.productId}"/></td>
        <td><button name="change" type="button" th:attr="onclick=|changeAmountOfProducts('${warehouseProduct.productId}')|" >change amount</button></td>
    </tr>
</table>
</body>
<script src="../static/index.js" th:src="@{../index.js}"></script>
</html>